:root {
  --ion-color-primary: #222428;
  --ion-color-primary-rgb: 34,36,40;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #1e2023;
  --ion-color-primary-tint: #383a3e;

  --ion-color-secondary: #222428;
  --ion-color-secondary-rgb: 34,36,40;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #1e2023;
  --ion-color-secondary-tint: #383a3e;

  --ion-color-tertiary: #222428;
  --ion-color-tertiary-rgb: 34,36,40;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #1e2023;
  --ion-color-tertiary-tint: #383a3e;

  --ion-color-success: #067f00;
  --ion-color-success-rgb: 6,127,0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #057000;
  --ion-color-success-tint: #1f8c1a;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #ce0000;
  --ion-color-danger-rgb: 206,0,0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #b50000;
  --ion-color-danger-tint: #d31a1a;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,36,40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #222428;
  --ion-color-medium-rgb: 34,36,40;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #1e2023;
  --ion-color-medium-tint: #383a3e;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: #ffffff;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}